<section id="admin-login">
  <h2>Login</h2>
  <% if (errors.length > 0) { %> <% for (const error of errors) { %>
  <h3 style="color: red;"><%= error %></h3>
  <% } %> <% } %>
  <form action="login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <input type="text" name="username" />
    <input type="password" name="password" id="" />
    <button type="submit">Login</button>
  </form>
  <h2>Register</h2>
  <form action="register" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <input type="text" name="username" minlength="5" required />
    <input type="email" name="email" maxlength="256" required />
    <input
      type="password"
      name="password"
      minlength="13"
      maxlength="55"
      required
    />

    <button type="submit">Register</button>
  </form>
</section>
